services/live-messaging/database_schema/schema.sql
/services/live-messaging/database_schema
shared/models.zip
services/live-messaging/database_schema/schema.sql
*.log
services/safty-and-verification/.env
